/*  M3 Colors
	Give Life to your Projects
	
	Created by: Daniel Castillo
	www.facebook.com/DanielCastilloGT
	- Write me for any suggestion or proposal -

	FREE TO USE UNDER THE MIT LICENSE
	http://www.opensource.org/licenses/mit-license.php
*/

.m3-transparent{background: transparent; color: inherit;}
.m3-hover-transparent:hover{background: transparent;}
.m3-text-transparent{color: transparent;}
.m3-border-transparent{border-color: transparent;}


/* 
	GRADIENTS
	Inspiration came from http://uigradients.com

	
	GRADIENT BORDERS (No Round Borders)

	border: solid transparent;
	-moz-border-image: -moz-linear-gradient(90deg, #200122, #6f0000);
	-webkit-border-image: -webkit-linear-gradient(90deg, #200122, #6f0000);
	border-image: linear-gradient(90deg, #200122, #6f0000);
	border-image-slice: 1;
*/

.m3-gradient-dream{
	background: #dea8f8;
	background: -webkit-radial-gradient( circle farthest-corner at 10% 20%,  rgba(222,168,248,1) 0%, rgba(168,222,248,1) 21.8%, rgba(189,250,205,1) 35.6%, rgba(243,250,189,1) 52.9%, rgba(250,227,189,1) 66.8%, rgba(248,172,172,1) 90%, rgba(254,211,252,1) 99.7% );
	background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(222,168,248,1) 0%, rgba(168,222,248,1) 21.8%, rgba(189,250,205,1) 35.6%, rgba(243,250,189,1) 52.9%, rgba(250,227,189,1) 66.8%, rgba(248,172,172,1) 90%, rgba(254,211,252,1) 99.7% );
	color: #000;}
.m3-text-gradient-dream{
	background: #dea8f8;
	background: -webkit-radial-gradient( circle farthest-corner at 10% 20%,  rgba(222,168,248,1) 0%, rgba(168,222,248,1) 21.8%, rgba(189,250,205,1) 35.6%, rgba(243,250,189,1) 52.9%, rgba(250,227,189,1) 66.8%, rgba(248,172,172,1) 90%, rgba(254,211,252,1) 99.7% );
	background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(222,168,248,1) 0%, rgba(168,222,248,1) 21.8%, rgba(189,250,205,1) 35.6%, rgba(243,250,189,1) 52.9%, rgba(250,227,189,1) 66.8%, rgba(248,172,172,1) 90%, rgba(254,211,252,1) 99.7% );
	color:transparent;
    -webkit-background-clip: text;
	background-clip: text;}

.m3-gradient-shine{
	background: #12c2e9;
	background: -webkit-linear-gradient(90deg, #12c2e9, #c471ed, #f64f59);
	background: linear-gradient(90deg, #12c2e9, #c471ed, #f64f59);
	color: #fff;}
.m3-text-gradient-shine{
	background: -webkit-linear-gradient(90deg, #12c2e9, #c471ed, #f64f59);
	background: linear-gradient(90deg, #12c2e9, #c471ed, #f64f59);
	color:transparent;
    -webkit-background-clip: text;
	background-clip: text;}


.m3-gradient-vintage{
	background: #FF8235;
	background: -webkit-linear-gradient(90deg, #30E8BF, #FF8235);
	background: linear-gradient(90deg, #30E8BF, #FF8235);
	color: #fff;}
.m3-text-gradient-vintage{
	background: -webkit-linear-gradient(90deg, #30E8BF, #FF8235);
	background: linear-gradient(90deg, #30E8BF, #FF8235);
	color:transparent;
    -webkit-background-clip: text;
	background-clip: text;}


.m3-gradient-dawn{
	background: #3B4371;
	background: -webkit-linear-gradient(90deg, #F3904F, #3B4371);
	background: linear-gradient(90deg, #F3904F, #3B4371);
	color: #fff;}
.m3-text-gradient-dawn{
	background: -webkit-linear-gradient(90deg, #F3904F, #3B4371);
	background: linear-gradient(90deg, #F3904F, #3B4371);
	color:transparent;
    -webkit-background-clip: text;
	background-clip: text;}


.m3-gradient-space{
	background: #000;
	background: -webkit-linear-gradient(90deg, #0f2027, #203a43, #2c5364);
	background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
	color: #fff;}
.m3-text-gradient-space{
	background: -webkit-linear-gradient(90deg, #0f2027, #203a43, #2c5364);
	background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
	color:transparent;
    -webkit-background-clip: text;
	background-clip: text;}


.m3-gradient-terminal{
	background: #000;
	background: -webkit-linear-gradient(90deg, #000, #0f9b0f);
	background: linear-gradient(90deg, #000, #0f9b0f);
	color: #fff;}
.m3-text-gradient-terminal{
	background: -webkit-linear-gradient(90deg, #000, #0f9b0f);
	background: linear-gradient(90deg, #000, #0f9b0f);
	color:transparent;
    -webkit-background-clip: text;
	background-clip: text;}


.m3-gradient-lemon{
	background: #95fa71;
	background: -webkit-radial-gradient( circle farthest-corner at 10% 20%,  rgba(43,194,57,1) 0%, rgba(149,250,113,1) 90% );
	background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(43,194,57,1) 0%, rgba(149,250,113,1) 90% );
	color: #fff;}
.m3-text-gradient-lemon{
	background: -webkit-radial-gradient( circle farthest-corner at 10% 20%,  rgba(43,194,57,1) 0%, rgba(149,250,113,1) 90% );
	background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(43,194,57,1) 0%, rgba(149,250,113,1) 90% );
	color:transparent;
    -webkit-background-clip: text;
	background-clip: text;}


.m3-gradient-grape{
	background: #9a1cc0;
	background: -webkit-linear-gradient(90deg, #4568dc, #b06ab3);
	background: linear-gradient(90deg, #4568dc, #b06ab3);
	color: #fff;}
.m3-text-gradient-grape{
	background: -webkit-linear-gradient(90deg, #4568dc, #b06ab3);
	background: linear-gradient(90deg, #4568dc, #b06ab3);
	color:transparent;
    -webkit-background-clip: text;
	background-clip: text;}


.m3-gradient-wine{
	background: #9a1cc0;
	background: -webkit-linear-gradient(90deg, #200122, #6f0000);
	background: linear-gradient(90deg, #200122, #6f0000);
	color: #fff;}
.m3-text-gradient-wine{
	background: -webkit-linear-gradient(90deg, #200122, #6f0000);
	background: linear-gradient(90deg, #200122, #6f0000);
	color:transparent;
    -webkit-background-clip: text;
	background-clip: text;}


.m3-gradient-splash{
	background: #00849b;
	background: -webkit-linear-gradient(90deg, #13156b, #00849b);
	background: linear-gradient(90deg, #13156b, #00849b);
	color: #fff;}
.m3-text-gradient-splash{
	background: -webkit-linear-gradient(90deg, #13156b, #00849b);
	background: linear-gradient(90deg, #13156b, #00849b);
	color:transparent;
    -webkit-background-clip: text;
	background-clip: text;}


.m3-gradient-orange{
	background: #00849b;
	background: -webkit-radial-gradient( circle farthest-corner at -8.9% 51.2%,  rgba(255,124,0,1) 0%, rgba(255,124,0,1) 15.9%, rgba(255,163,77,1) 15.9%, rgba(255,163,77,1) 24.4%, rgba(19,30,37,1) 24.5%, rgba(19,30,37,1) 66% );
	background-image: radial-gradient( circle farthest-corner at -8.9% 51.2%,  rgba(255,124,0,1) 0%, rgba(255,124,0,1) 15.9%, rgba(255,163,77,1) 15.9%, rgba(255,163,77,1) 24.4%, rgba(19,30,37,1) 24.5%, rgba(19,30,37,1) 66% );
	color: #fff;}
.m3-text-gradient-orange{
	background: -webkit-radial-gradient( circle farthest-corner at -8.9% 51.2%,  rgba(255,124,0,1) 0%, rgba(255,124,0,1) 15.9%, rgba(255,163,77,1) 15.9%, rgba(255,163,77,1) 24.4%, rgba(19,30,37,1) 24.5%, rgba(19,30,37,1) 66% );
	background-image: radial-gradient( circle farthest-corner at -8.9% 51.2%,  rgba(255,124,0,1) 0%, rgba(255,124,0,1) 15.9%, rgba(255,163,77,1) 15.9%, rgba(255,163,77,1) 24.4%, rgba(19,30,37,1) 24.5%, rgba(19,30,37,1) 66% );
	color:transparent;
    -webkit-background-clip: text;
	background-clip: text;}

/*
	CRYSTAL COLORS
	Translucent Colors
	RGBA() Standard Transparency : 0.7
*/

.m3-white.crystal{background: rgba(255, 255, 255, 0.7); color: #050505;}
.m3-red.crystal{background: rgba(175, 7, 21, 0.7); color: #fff;}
.m3-wine.crystal{background: rgba(101, 14, 21, 0.7); color: #fff;}
.m3-pink.crystal{background: rgba(184, 107, 119, 0.7); color: #fff;}
.m3-fuchsia.crystal{background: rgba(151, 31, 109, 0.7); color: #fff;}
.m3-purple.crystal{background: rgba(93, 50, 86, 0.7); color: #fff;}
.m3-blue.crystal{background: rgba(2, 23, 97, 0.7); color: #fff;}
.m3-blue-gray.crystal, .m3-blue-grey.crystal{background: rgba(62, 64, 117, 0.7); color: #fff;}
.m3-skyblue.crystal{background: rgba(73, 152, 208, 0.7); color: #fff;}
.m3-teal.crystal{background: rgba(0, 108, 112, 0.7); color: #fff;}
.m3-green.crystal{background: rgba(104, 130, 116, 0.7); color: #fff;}
.m3-emerald.crystal{background: rgba(0, 129, 99, 0.7); color: #fff;}
.m3-light-green.crystal{background: rgba(161, 185, 132, 0.7); color: #fff;}
.m3-yellow.crystal{background: rgba(228, 196, 52, 0.7); color: #000;}
.m3-gold.crystal{background: rgba(219, 146, 0, 0.7); color: #ffffff;}
.m3-beige.crystal{background: rgba(199, 172, 127, 0.7); color: #fff;}
.m3-orange.crystal{background: rgba(234, 118, 1, 0.7); color: #fff;}
.m3-bronze.crystal{background: rgba(131, 103, 0, 0.7); color: #fff;}
.m3-brown.crystal{background: rgba(113, 93, 76, 0.7); color: #fff;}
.m3-light-gray.crystal, .m3-light-grey.crystal{background: rgba(230, 229, 229, 0.7); color: #050505;}
.m3-silver.crystal{background: rgba(216, 216, 216, 0.7); color: #050505;}
.m3-gray.crystal, .m3-grey.crystal{background: rgba(88, 88, 88, 0.7); color: #fff;}
.m3-dark-gray.crystal, .m3-dark-grey.crystal{background: rgba(42, 46, 49, 0.7); color: #fff;}
.m3-space-gray.crystal, .m3-space-grey.crystal{background: rgba(19, 19, 19, 0.7); color: #fff;}
.m3-black.crystal{background: rgba(0, 0, 0, 0.7); color: #fff;}

.m3-white.crystal-5{background: rgba(255, 255, 255, 0.5); color: #050505;}
.m3-red.crystal-5{background: rgba(175, 7, 21, 0.5); color: #fff;}
.m3-wine.crystal-5{background: rgba(101, 14, 21, 0.5); color: #fff;}
.m3-pink.crystal-5{background: rgba(184, 107, 119, 0.5); color: #fff;}
.m3-fuchsia.crystal-5{background: rgba(151, 31, 109, 0.5); color: #fff;}
.m3-purple.crystal-5{background: rgba(93, 50, 86, 0.5); color: #fff;}
.m3-blue.crystal-5{background: rgba(2, 23, 97, 0.5); color: #fff;}
.m3-blue-gray.crystal-5, .m3-blue-grey.crystal-5{background: rgba(62, 64, 117, 0.5); color: #fff;}
.m3-skyblue.crystal-5{background: rgba(73, 152, 208, 0.5); color: #fff;}
.m3-teal.crystal-5{background: rgba(0, 108, 112, 0.5); color: #fff;}
.m3-green.crystal-5{background: rgba(104, 130, 116, 0.5); color: #fff;}
.m3-emerald.crystal-5{background: rgba(0, 129, 99, 0.5); color: #fff;}
.m3-light-green.crystal-5{background: rgba(161, 185, 132, 0.5); color: #fff;}
.m3-yellow.crystal-5{background: rgba(228, 196, 52, 0.5); color: #000;}
.m3-gold.crystal-5{background: rgba(219, 146, 0, 0.5); color: #ffffff;}
.m3-beige.crystal-5{background: rgba(199, 172, 127, 0.5); color: #fff;}
.m3-orange.crystal-5{background: rgba(234, 118, 1, 0.5); color: #fff;}
.m3-bronze.crystal-5{background: rgba(131, 103, 0, 0.5); color: #fff;}
.m3-brown.crystal-5{background: rgba(113, 93, 76, 0.5); color: #fff;}
.m3-light-gray.crystal-5, .m3-light-grey.crystal-5{background: rgba(230, 229, 229, 0.5); color: #050505;}
.m3-silver.crystal-5{background: rgba(216, 216, 216, 0.5); color: #050505;}
.m3-gray.crystal-5, .m3-grey.crystal-5{background: rgba(88, 88, 88, 0.5); color: #fff;}
.m3-dark-gray.crystal-5, .m3-dark-grey.crystal-5{background: rgba(42, 46, 49, 0.5); color: #fff;}
.m3-space-gray.crystal-5, .m3-space-grey.crystal-5{background: rgba(19, 19, 19, 0.5); color: #fff;}
.m3-black.crystal-5{background: rgba(0, 0, 0, 0.5); color: #fff;}

.m3-white.crystal-3{background: rgba(255, 255, 255, 0.3); color: #050505;}
.m3-red.crystal-3{background: rgba(175, 7, 21, 0.3); color: #fff;}
.m3-wine.crystal-3{background: rgba(101, 14, 21, 0.3); color: #fff;}
.m3-pink.crystal-3{background: rgba(184, 107, 119, 0.3); color: #fff;}
.m3-fuchsia.crystal-3{background: rgba(151, 31, 109, 0.3); color: #fff;}
.m3-purple.crystal-3{background: rgba(93, 50, 86, 0.3); color: #fff;}
.m3-blue.crystal-3{background: rgba(2, 23, 97, 0.3); color: #fff;}
.m3-blue-gray.crystal-3, .m3-blue-grey.crystal-3{background: rgba(62, 64, 117, 0.3); color: #fff;}
.m3-skyblue.crystal-3{background: rgba(73, 152, 208, 0.3); color: #fff;}
.m3-teal.crystal-3{background: rgba(0, 108, 112, 0.3); color: #fff;}
.m3-green.crystal-3{background: rgba(104, 130, 116, 0.3); color: #fff;}
.m3-emerald.crystal-3{background: rgba(0, 129, 99, 0.3); color: #fff;}
.m3-light-green.crystal-3{background: rgba(161, 185, 132, 0.3); color: #fff;}
.m3-yellow.crystal-3{background: rgba(228, 196, 52, 0.3); color: #000;}
.m3-gold.crystal-3{background: rgba(219, 146, 0, 0.3); color: #ffffff;}
.m3-beige.crystal-3{background: rgba(199, 172, 127, 0.3); color: #fff;}
.m3-orange.crystal-3{background: rgba(234, 118, 1, 0.3); color: #fff;}
.m3-bronze.crystal-3{background: rgba(131, 103, 0, 0.3); color: #fff;}
.m3-brown.crystal-3{background: rgba(113, 93, 76, 0.3); color: #fff;}
.m3-light-gray.crystal-3, .m3-light-grey.crystal-3{background: rgba(230, 229, 229, 0.3); color: #050505;}
.m3-silver.crystal-3{background: rgba(216, 216, 216, 0.3); color: #050505;}
.m3-gray.crystal-3, .m3-grey.crystal-3{background: rgba(88, 88, 88, 0.3); color: #fff;}
.m3-dark-gray.crystal-3, .m3-dark-grey.crystal-3{background: rgba(42, 46, 49, 0.3); color: #fff;}
.m3-space-gray.crystal-3, .m3-space-grey.crystal-3{background: rgba(19, 19, 19, 0.3); color: #fff;}
.m3-black.crystal-3{background: rgba(0, 0, 0, 0.3); color: #fff;}


/* FLAT M3 DEFAULT COLORS */

.m3-white{background: #fff; color: #050505;}
.m3-red{background: #AF0716; color: #fff;}
.m3-wine{background: #650E15; color: #fff;}
.m3-pink{background: #B86B77; color: #fff;}
.m3-fuchsia{background: #971f6d; color: #fff;}
.m3-purple{background: #5D3256; color: #fff;}
.m3-blue{background: #021661; color: #fff;}
.m3-blue-gray, .m3-blue-grey{background: #3e4075; color: #fff;}
.m3-skyblue{background: #4997D0; color: #fff;}
.m3-teal{background: #006C70; color: #fff;}
.m3-green{background: #688274; color: #fff;}
.m3-emerald{background: #008163; color: #fff;}
.m3-light-green{background: #A1B984; color: #fff;}
.m3-yellow{background: #e4c434; color: #050505;}
.m3-gold{background: #DB9200; color: #ffffff;}
.m3-beige{background: #C7AD7F; color: #fff;}
.m3-orange{background: #EA7401; color: #fff;}
.m3-bronze{background: #836600; color: #fff;}
.m3-brown{background: #715D4C; color: #fff;}
.m3-light-gray, .m3-light-grey{background: #e6e5e5; color: #050505;}
.m3-silver{background: #D8D8D8; color: #050505;}
.m3-gray, .m3-grey{background: #585858; color: #fff;}
.m3-dark-gray, .m3-dark-grey{background: #2A2E31; color: #fff;}
.m3-space-gray, .m3-space-grey{background: #131313; color: #fff;}
.m3-black{background: #000; color: #fff;}


/* TEXT */

.m3-text-white{color: #fff;}
.m3-text-red{color: #AF0716;}
.m3-text-wine{color: #650E15;}
.m3-text-pink{color: #B86B77;}
.m3-text-fuchsia{color: #971f6d;}
.m3-text-purple{color: #5D3256;}
.m3-text-blue{color: #021661;}
.m3-text-blue-gray, .m3-text-blue-grey{color: #3e4075;}
.m3-text-skyblue{color: #4997D0;}
.m3-text-teal{color: #006C70;}
.m3-text-green{color: #688274;}
.m3-text-emerald{color: #008163;}
.m3-text-light-green{color: #A1B984;}
.m3-text-yellow{color: #e4c434;}
.m3-text-gold{color: #DB9200;}
.m3-text-beige{color: #C7AD7F;}
.m3-text-orange{color: #EA7401;}
.m3-text-bronze{color: #836600;}
.m3-text-brown{color: #715D4C;}
.m3-text-light-gray, .m3-text-light-grey{color: #e6e5e5;}
.m3-text-silver{color: #D8D8D8;}
.m3-text-gray, .m3-text-grey{color: #585858;}
.m3-text-dark-gray, .m3-text-dark-grey{color: #2A2E31;}
.m3-text-space-gray, .m3-text-space-grey{color: #131313;}
.m3-text-black{color: #000;}


/* BORDERS */

.m3-border-white{border-color: #fff;}
.m3-border-red{border-color: #AF0716;}
.m3-border-wine{border-color: #650E15;}
.m3-border-pink{border-color: #B86B77;}
.m3-border-fuchsia{border-color: #971f6d;}
.m3-border-purple{border-color: #5D3256;}
.m3-border-blue{border-color: #021661;}
.m3-border-blue-gray, .m3-border-blue-grey{border-color: #3e4075;}
.m3-border-skyblue{border-color: #4997D0;}
.m3-border-teal{border-color: #006C70;}
.m3-border-green{border-color: #688274;}
.m3-border-emerald{border-color: #008163;}
.m3-border-light-green{border-color: #A1B984;}
.m3-border-yellow{border-color: #e4c434;}
.m3-border-gold{border-color: #DB9200;}
.m3-border-beige{border-color: #C7AD7F;}
.m3-border-orange{border-color: #EA7401;}
.m3-border-bronze{border-color: #836600;}
.m3-border-brown{border-color: #715D4C;}
.m3-border-light-gray, .m3-border-light-grey{border-color: #e6e5e5;}
.m3-border-silver{border-color: #D8D8D8;}
.m3-border-gray, .m3-border-grey{border-color: #585858;}
.m3-border-dark-gray, .m3-border-dark-grey{border-color: #2A2E31;}
.m3-border-space-gray, .m3-border-space-grey{border-color: #131313;}
.m3-border-black{border-color: #000;}


/* HOVER */

/* CRYSTAL HOVER */

.m3-hover-white.hover-crystal:hover{background: rgba(255, 255, 255, 0.7); color: #050505;}
.m3-hover-red.hover-crystal:hover{background: rgba(175, 7, 21, 0.7); color: #fff;}
.m3-hover-wine.hover-crystal:hover{background: rgba(101, 14, 21, 0.7); color: #fff;}
.m3-hover-pink.hover-crystal:hover{background: rgba(184, 107, 119, 0.7); color: #fff;}
.m3-hover-fuchsia.hover-crystal:hover{background: rgba(151, 31, 109, 0.7); color: #fff;}
.m3-hover-purple.hover-crystal:hover{background: rgba(93, 50, 86, 0.7); color: #fff;}
.m3-hover-blue.hover-crystal:hover{background: rgba(2, 23, 97, 0.7); color: #fff;}
.m3-hover-blue-gray.hover-crystal:hover, .m3-hover-blue-grey.hover-crystal:hover{background: rgba(62, 64, 117, 0.7); color: #fff;}
.m3-hover-skyblue.hover-crystal:hover{background: rgba(73, 152, 208, 0.7); color: #fff;}
.m3-hover-teal.hover-crystal:hover{background: rgba(0, 108, 112, 0.7); color: #fff;}
.m3-hover-green.hover-crystal:hover{background: rgba(104, 130, 116, 0.7); color: #fff;}
.m3-hover-emerald.hover-crystal:hover{background: rgba(0, 129, 99, 0.7); color: #fff;}
.m3-hover-light-green.hover-crystal:hover{background: rgba(161, 185, 132, 0.7); color: #fff;}
.m3-hover-yellow.hover-crystal:hover{background: rgba(228, 196, 52, 0.7); color: #000;}
.m3-hover-gold.hover-crystal:hover{background: rgba(219, 146, 0, 0.7); color: #ffffff;}
.m3-hover-beige.hover-crystal:hover{background: rgba(199, 172, 127, 0.7); color: #fff;}
.m3-hover-orange.hover-crystal:hover{background: rgba(234, 118, 1, 0.7); color: #fff;}
.m3-hover-bronze.hover-crystal:hover{background: rgba(131, 103, 0, 0.7); color: #fff;}
.m3-hover-brown.hover-crystal:hover{background: rgba(113, 93, 76, 0.7); color: #fff;}
.m3-hover-light-gray.hover-crystal:hover, .m3-hover-light-grey.hover-crystal:hover{background: rgba(230, 229, 229, 0.7); color: #050505;}
.m3-hover-silver.hover-crystal:hover{background: rgba(216, 216, 216, 0.7); color: #050505;}
.m3-hover-gray.hover-crystal:hover, .m3-hover-grey.hover-crystal:hover{background: rgba(88, 88, 88, 0.7); color: #fff;}
.m3-hover-dark-gray.hover-crystal:hover, .m3-hover-dark-grey.hover-crystal:hover{background: rgba(42, 46, 49, 0.7); color: #fff;}
.m3-hover-space-gray.hover-crystal:hover, .m3-hover-space-grey.hover-crystal:hover{background: rgba(19, 19, 19, 0.7); color: #fff;}
.m3-hover-black.hover-crystal:hover{background: rgba(0, 0, 0, 0.7); color: #fff;}

.m3-hover-white.hover-crystal-5:hover{background: rgba(255, 255, 255, 0.5); color: #050505;}
.m3-hover-red.hover-crystal-5:hover{background: rgba(175, 7, 21, 0.5); color: #fff;}
.m3-hover-wine.hover-crystal-5:hover{background: rgba(101, 14, 21, 0.5); color: #fff;}
.m3-hover-pink.hover-crystal-5:hover{background: rgba(184, 107, 119, 0.5); color: #fff;}
.m3-hover-fuchsia.hover-crystal-5:hover{background: rgba(151, 31, 109, 0.5); color: #fff;}
.m3-hover-purple.hover-crystal-5:hover{background: rgba(93, 50, 86, 0.5); color: #fff;}
.m3-hover-blue.hover-crystal-5:hover{background: rgba(2, 23, 97, 0.5); color: #fff;}
.m3-hover-blue-gray.hover-crystal-5:hover, .m3-hover-blue-grey.hover-crystal-5:hover{background: rgba(62, 64, 117, 0.5); color: #fff;}
.m3-hover-skyblue.hover-crystal-5:hover{background: rgba(73, 152, 208, 0.5); color: #fff;}
.m3-hover-teal.hover-crystal-5:hover{background: rgba(0, 108, 112, 0.5); color: #fff;}
.m3-hover-green.hover-crystal-5:hover{background: rgba(104, 130, 116, 0.5); color: #fff;}
.m3-hover-emerald.hover-crystal-5:hover{background: rgba(0, 129, 99, 0.5); color: #fff;}
.m3-hover-light-green.hover-crystal-5:hover{background: rgba(161, 185, 132, 0.5); color: #fff;}
.m3-hover-yellow.hover-crystal-5:hover{background: rgba(228, 196, 52, 0.5); color: #000;}
.m3-hover-gold.hover-crystal-5:hover{background: rgba(219, 146, 0, 0.5); color: #ffffff;}
.m3-hover-beige.hover-crystal-5:hover{background: rgba(199, 172, 127, 0.5); color: #fff;}
.m3-hover-orange.hover-crystal-5:hover{background: rgba(234, 118, 1, 0.5); color: #fff;}
.m3-hover-bronze.hover-crystal-5:hover{background: rgba(131, 103, 0, 0.5); color: #fff;}
.m3-hover-brown.hover-crystal-5:hover{background: rgba(113, 93, 76, 0.5); color: #fff;}
.m3-hover-light-gray.hover-crystal-5:hover, .m3-hover-light-grey.hover-crystal-5:hover{background: rgba(230, 229, 229, 0.5); color: #050505;}
.m3-hover-silver.hover-crystal-5:hover{background: rgba(216, 216, 216, 0.5); color: #050505;}
.m3-hover-gray.hover-crystal-5:hover, .m3-hover-grey.hover-crystal-5:hover{background: rgba(88, 88, 88, 0.5); color: #fff;}
.m3-hover-dark-gray.hover-crystal-5:hover, .m3-hover-dark-grey.hover-crystal-5:hover{background: rgba(42, 46, 49, 0.5); color: #fff;}
.m3-hover-space-gray.hover-crystal-5:hover, .m3-hover-space-grey.hover-crystal-5:hover{background: rgba(19, 19, 19, 0.5); color: #fff;}
.m3-hover-black.hover-crystal-5:hover{background: rgba(0, 0, 0, 0.5); color: #fff;}

.m3-hover-white.hover-crystal-3:hover{background: rgba(255, 255, 255, 0.3); color: #050505;}
.m3-hover-red.hover-crystal-3:hover{background: rgba(175, 7, 21, 0.3); color: #fff;}
.m3-hover-wine.hover-crystal-3:hover{background: rgba(101, 14, 21, 0.3); color: #fff;}
.m3-hover-pink.hover-crystal-3:hover{background: rgba(184, 107, 119, 0.3); color: #fff;}
.m3-hover-fuchsia.hover-crystal-3:hover{background: rgba(151, 31, 109, 0.3); color: #fff;}
.m3-hover-purple.hover-crystal-3:hover{background: rgba(93, 50, 86, 0.3); color: #fff;}
.m3-hover-blue.hover-crystal-3:hover{background: rgba(2, 23, 97, 0.3); color: #fff;}
.m3-hover-blue-gray.hover-crystal-3:hover, .m3-hover-blue-grey.hover-crystal-3:hover{background: rgba(62, 64, 117, 0.3); color: #fff;}
.m3-hover-skyblue.hover-crystal-3:hover{background: rgba(73, 152, 208, 0.3); color: #fff;}
.m3-hover-teal.hover-crystal-3:hover{background: rgba(0, 108, 112, 0.3); color: #fff;}
.m3-hover-green.hover-crystal-3:hover{background: rgba(104, 130, 116, 0.3); color: #fff;}
.m3-hover-emerald.hover-crystal-3:hover{background: rgba(0, 129, 99, 0.3); color: #fff;}
.m3-hover-light-green.hover-crystal-3:hover{background: rgba(161, 185, 132, 0.3); color: #fff;}
.m3-hover-yellow.hover-crystal-3:hover{background: rgba(228, 196, 52, 0.3); color: #000;}
.m3-hover-gold.hover-crystal-3:hover{background: rgba(219, 146, 0, 0.3); color: #ffffff;}
.m3-hover-beige.hover-crystal-3:hover{background: rgba(199, 172, 127, 0.3); color: #fff;}
.m3-hover-orange.hover-crystal-3:hover{background: rgba(234, 118, 1, 0.3); color: #fff;}
.m3-hover-bronze.hover-crystal-3:hover{background: rgba(131, 103, 0, 0.3); color: #fff;}
.m3-hover-brown.hover-crystal-3:hover{background: rgba(113, 93, 76, 0.3); color: #fff;}
.m3-hover-light-gray.hover-crystal-3:hover, .m3-hover-light-grey.hover-crystal-3:hover{background: rgba(230, 229, 229, 0.3); color: #050505;}
.m3-hover-silver.hover-crystal-3:hover{background: rgba(216, 216, 216, 0.3); color: #050505;}
.m3-hover-gray.hover-crystal-3:hover, .m3-hover-grey.hover-crystal-3:hover{background: rgba(88, 88, 88, 0.3); color: #fff;}
.m3-hover-dark-gray.hover-crystal-3:hover, .m3-hover-dark-grey.hover-crystal-3:hover{background: rgba(42, 46, 49, 0.3); color: #fff;}
.m3-hover-space-gray.hover-crystal-3:hover, .m3-hover-space-grey.hover-crystal-3:hover{background: rgba(19, 19, 19, 0.3); color: #fff;}
.m3-hover-black.hover-crystal-3:hover{background: rgba(0, 0, 0, 0.3); color: #fff;}


/* NORMAL COLORS */

.m3-hover-white:hover{background: #fff; color: #050505;}
.m3-hover-red:hover{background: #AF0716; color: #fff;}
.m3-hover-wine:hover{background: #650E15; color: #fff;}
.m3-hover-pink:hover{background: #B86B77; color: #fff;}
.m3-hover-fuchsia:hover{background: #971f6d; color: #fff;}
.m3-hover-purple:hover{background: #5D3256; color: #fff;}
.m3-hover-blue:hover{background: #021661; color: #fff;}
.m3-hover-blue-gray:hover, .m3-hover-blue-grey:hover{background: #3e4075; color: #fff;}
.m3-hover-skyblue:hover{background: #4997D0; color: #fff;}
.m3-hover-teal:hover{background: #006C70; color: #fff;}
.m3-hover-green:hover{background: #688274; color: #fff;}
.m3-hover-emerald:hover{background: #008163; color: #fff;}
.m3-hover-light-green:hover{background: #A1B984; color: #fff;}
.m3-hover-yellow:hover{background: #e4c434; color: #050505;}
.m3-hover-gold:hover{background: #DB9200; color: #fff;}
.m3-hover-beige:hover{background: #C7AD7F; color: #fff;}
.m3-hover-orange:hover{background: #EA7401; color: #fff;}
.m3-hover-bronze:hover{background: #836600; color: #fff;}
.m3-hover-brown:hover{background: #715D4C; color: #fff;}
.m3-hover-light-gray:hover, .m3-hover-light-grey:hover{background: #e6e5e5; color: #050505;}
.m3-hover-silver:hover{background: #D8D8D8; color: #050505;}
.m3-hover-gray:hover, .m3-hover-grey:hover{background: #585858; color: #fff;}
.m3-hover-dark-gray:hover, .m3-hover-dark-grey:hover{background: #2A2E31; color: #fff;}
.m3-hover-space-gray:hover, .m3-hover-space-grey:hover{background: #131313; color: #fff;}
.m3-hover-black:hover{background: #fff;}


/* HOVER TEXT  */

.m3-hover-text-white:hover{color: #fff;}
.m3-hover-text-red:hover{color: #AF0716;}
.m3-hover-text-wine:hover{color: #650E15;}
.m3-hover-text-pink:hover{color: #B86B77;}
.m3-hover-text-fuchsia:hover{color: #971f6d;}
.m3-hover-text-purple:hover{color: #5D3256;}
.m3-hover-text-blue:hover{color: #021661;}
.m3-hover-text-blue-gray:hover, .m3-hover-text-blue-grey:hover{color: #3e4075;}
.m3-hover-text-skyblue:hover{color: #4997D0;}
.m3-hover-text-teal:hover{color: #006C70;}
.m3-hover-text-green:hover{color: #688274;}
.m3-hover-text-emerald:hover{color: #008163;}
.m3-hover-text-light-green:hover{color: #A1B984;}
.m3-hover-text-yellow:hover{color: #e4c434;}
.m3-hover-text-gold:hover{color: #DB9200;}
.m3-hover-text-beige:hover{color: #C7AD7F;}
.m3-hover-text-orange:hover{color: #EA7401;}
.m3-hover-text-bronze:hover{color: #836600;}
.m3-hover-text-brown:hover{color: #715D4C;}
.m3-hover-text-light-gray:hover, .m3-hover-text-light-grey:hover{color: #e6e5e5;}
.m3-hover-text-silver:hover{color: #D8D8D8;}
.m3-hover-text-gray:hover, .m3-hover-text-grey:hover{color: #585858;}
.m3-hover-text-dark-gray:hover, .m3-hover-text-dark-grey:hover{color: #2A2E31;}
.m3-hover-text-space-gray:hover, .m3-hover-text-space-grey:hover{color: #131313;}
.m3-hover-text-black:hover{color: #000;}


/* HOVER BORDERS */

.m3-hover-border-white:hover{border-color: #fff;}
.m3-hover-border-red:hover{border-color: #AF0716;}
.m3-hover-border-wine:hover{border-color: #650E15;}
.m3-hover-border-pink:hover{border-color: #B86B77;}
.m3-hover-border-fuchsia:hover{border-color: #971f6d;}
.m3-hover-border-purple:hover{border-color: #5D3256;}
.m3-hover-border-blue:hover{border-color: #021661;}
.m3-hover-border-blue-gray:hover, .m3-hover-border-blue-grey:hover{border-color: #3e4075;}
.m3-hover-border-skyblue:hover{border-color: #4997D0;}
.m3-hover-border-teal:hover{border-color: #006C70;}
.m3-hover-border-green:hover{border-color: #688274;}
.m3-hover-border-emerald:hover{border-color: #008163;}
.m3-hover-border-light-green:hover{border-color: #A1B984;}
.m3-hover-border-yellow:hover{border-color: #e4c434;}
.m3-hover-border-gold:hover{border-color: #DB9200;}
.m3-hover-border-beige:hover{border-color: #C7AD7F;}
.m3-hover-border-orange:hover{border-color: #EA7401;}
.m3-hover-border-bronze:hover{border-color: #836600;}
.m3-hover-border-brown:hover{border-color: #715D4C;}
.m3-hover-border-light-gray:hover, .m3-hover-border-light-grey:hover{border-color: #e6e5e5;}
.m3-hover-border-silver:hover{border-color: #D8D8D8;}
.m3-hover-border-gray:hover, .m3-hover-border-grey:hover{border-color: #585858;}
.m3-hover-border-dark-gray:hover, .m3-hover-border-dark-grey:hover{border-color: #2A2E31;}
.m3-hover-border-space-gray:hover, .m3-hover-border-space-grey:hover{border-color: #131313;}
.m3-hover-border-black:hover{color: #000;}